body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #021420; */
}

.navbar {
  background-color: #3498db;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
  color: #fff;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input[type=text] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  margin-bottom: 100px;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 15px;
 
}

.card-title {
  font-size: 1.2rem;
}

.btn-primary {
  background-color: #3498db;
  border: none;
  padding: 8px 15px;
}

.btn-primary:hover {
  background-color: #2980b9;
}
.carousel-indicators {
  z-index: 1;
  margin-top: 10px;
  background-color: #3498db; /* Chọn màu xanh dương */
}


